.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

ul {
    display: none;
}

.creation-compte {
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #000000;
}

button {
    color: #FFFFFF;
}

.logo-header {
    padding: 15px 30px;
}

.lieu-texte {
    font-size: 15px;
    margin: 10px;
    text-transform: uppercase;
    color: #0000FF;
    text-align: center;
    
    
}

.hero {
    background-color: #EDEDED;
    margin-bottom: 70px;
}

.image-concert {
    position: relative;
    border-radius: 15px;
    height: 350px;
    object-fit: cover;
    width: 100%;
    display: block;
}

.titre-hero {
    font-size: 35px;
    text-transform: uppercase;
    margin: 10px;
    text-align: center;
}

.description-hero {
    font-size: 16px;
    opacity: 0.5;
    text-align: center;
}

.voir-concerts {
    padding: 15px 25px;
    width: 100%;
    border-radius: 25px;
    background-color: #6366C7;
    align-items: center;
}

.concert-description {
    padding: 6px 12px;
    position: absolute;
    margin-top: -3em;
    
    width: 69%;
    background-color: rgba(59, 130, 160, 0.4);
    border-radius: 15px;
    span {
        color: #2B82A0;
    }
    strong {
        color: #FFFFFF;
    }
}

.en-tete {
    font-size: 15px;
    margin: 10px;
    text-transform: uppercase;
    color: #0000FF;
    text-align: left;
}

.evenement-section {
    width: 100%;
}
.section-header {
    margin-bottom: 20px;
    h2 {
        font-size: 35px;
        text-transform: uppercase;
        margin: 6px;
    }
    a {
        color: #000000;
        margin: 6px;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}

.article-1 {
    img {
        position: relative;
        border-radius: 15px;
        height: 350px;
        object-fit: cover;
        width: 80%;
        display: block;
        margin: auto;
    }
    .genre {
        background-color: #FFFFFF;
        padding: 4px 8px;
        border-radius: 10px;
        position: absolute;
        margin-top: -21em;
        margin-left: 3em;
    }
}

.article-2 {
    img {
        position: relative;
        border-radius: 15px;
        height: 350px;
        object-fit: cover;
        width: 80%;
        display: block;
        margin: auto;
    }
}